@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: rgb(2, 132, 158);
  --secondary-color: rgb(1, 80, 113);
  --shawdow:rgba(255, 255, 255, 0.532);
  --white: #ffffffb6;
}

body {
  background-color: gradient(to right, #02849e, #015071);
  background: linear-gradient(140deg, rgb(2, 132, 158) 10%, rgba(9,9,121,1) 35%, rgb(17, 110, 224) 100%);
  
}

/* --------------------navbar----------------------- */
.menu-logo {
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
.menu-content {
  
  position: fixed;
  z-index: 9999;
  display: flex;
  backdrop-filter: blur(5px);
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.433);
  font-size: 1.2rem;
  font-weight: 300;
  box-shadow: 0 0 10px var(--shawdow);
}

.menu-list {
  display: flex;
  gap: 2rem;
}

.menu-list > li {
  list-style: none;
}
.menu-list > li > a {
  text-decoration: none;
  color: #000000c3;

  position: relative;
  text-shadow: 0 0 5px var(--primary-color);
}

.menu-list > li > a::after {
  content: "";
  width: 0%;
  height: 3px;
  background-color: var(--primary-color);
  position: absolute;
  bottom: 0px;
  left: 0px;
  transition: width 0.3s ease;
  border-radius: 100px;
}

.menu-list > li > a:hover {
  color: var(--white);
}

.menu-list > li > a:hover::after {
  width: 100%;
}

.menu-bars {
  display: none;
  cursor: pointer;
}

/* -------------------- navbar end------------------ */

/* --------------------main----------------------- */
main {
  
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 1200px;
  padding-top: 50px;
  margin: 0 auto;
  
}
.left-main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  background-color: rgba(255, 255, 255, 0.767);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px var(--shawdow);

  
}

.left-description > h1 > span {
  color: var(--primary-color);
}

.cv {
  border: none;
  background-color: var(--primary-color);
  color: rgb(255, 255, 255);
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
  box-shadow: 0 0 10px var(--shawdow);
  border-radius: 5px;
  
}

.cv:hover {
  background-color: var(--secondary-color);
}

.cv a  {
  text-decoration: none;
  color: white;
}

.rigth-main {
  position: relative;
  justify-content: center;
  z-index: 999;
  align-items: center;
 
  
  
}



i.html,
i.css,
i.js {
  padding: 10px;
  border-radius: 
  10px;


}
.rigth-main  i.html {
  background-color: white;
  position: absolute;
  top: 80px;
  left: 70px;

  box-shadow: 0 0 10px var(--shawdow);
  
  
}
.rigth-main  i.css {
  background-color: white;
  position: absolute;
  top: 180px;
  left: 70px;
  box-shadow: 0 0 10px var(--shawdow);
  
  
}
.rigth-main  i.js {
  background-color: white;
  position: absolute;
  right: 100px;
  top: 80px;
  box-shadow: 0 0 10px var(--shawdow);

  
  
}

.html:hover{
  color: orangered;
  position: absolute;
  padding: 10px;
  transition: 0.3s;
  font-size: 1.6rem;
}
.css:hover{
  color: blue;
  padding: 10px;
  transition: 0.3s;
  font-size: 1.6rem;
}
.js:hover{
  color: yellow;
  padding: 10px;
  transition: 0.3s;
  font-size: 1.6rem;
  
}

.img-main {
  position: relative;
  width: 500px;
 
  padding-top: 40px;
}
/* --------------------main end----------------------- */

/* --------------------about----------------------- */
section {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 800px;
  gap: 3em;
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-description  {
  background-color:  var(--white);
  box-shadow: 0 0 10px var(--shawdow);
  padding: 10px;
  border-radius: 10px;
}
.section-description > h2 {
  width: 100%;
  border-radius: 20px 20px 0 0;
  padding-bottom: 20px;
  text-align: center;
  
}
.section-content ul {
  
  display: flex;
  color: rgb(0, 0, 0);
  list-style: none;
  font-size: 2rem;
  justify-content: center;
  gap: 10px;
}


.section-image {
  background-color: var(--white);
  box-shadow: 0 0 10px var(--shawdow);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
/* ------------------about end----------------------- */

/* --------------------projects----------------------- */
h1.projects {
  text-align: center;
  margin-bottom: 50px;
  color: var(--white);
}
 aside {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
}
.aside-content {
  margin: 0 auto;
  text-align: center;
  background-color: var(--white);
  box-shadow: 0 0 10px var(--shawdow);
  border-radius: 10px;
  max-width: 270px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  
}

.aside-content img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
  
}
.aside-content  p {
  padding-bottom: 10px;
}
.aside-content > div .cv {
  margin: 5px auto;
  width: 100%;
}
/* ------------------projects end-------------------- */

/* --------------------contact----------------------- */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.title-contact {
  color: var(--white);
  font-size: 2rem;
  margin: 20px;
}
.contact-content {
  background-color: var(--white);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px var(--shawdow);
  
}

.contact-list {
  list-style: none;
  font-size: 1.2rem;
}

.contact-list i {
  font-size: 2rem;
  margin-right: 10px;
}

.contact-list  a{
  text-decoration: none;
  color: var(-primary-color);
  
}
.contact-list a:hover {
  color: var(--secondary-color);
}
.contact-list a:visited {
  color: var(--secondary-color);
}
/* ------------------contact end-------------------- */


/* --------------------mobile----------------------- */
@media screen and (width < 810px) {

  section {
    position: relative;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  .cv {
    display: flex;
    
  }

  
  .section-image {
    width: 200px;
    margin: 0 auto;
  }


  body {
    overflow-x: hidden;
  }
  .menu-bars {
    display: flex;
    position: absolute;
    top: 15px;
    right: 20px;
  }

  .menu-content {
    flex-direction: column;
    position: fixed;
  }
  .menu-list {
    width: 100vw;
    text-align: center;

    flex-direction: column;

    max-height: 0; 
    overflow: hidden; 
    transition: max-height 0.5s ease-out; 
  }

  .menu-list.show {
    display: flex;
    max-height: 600px; 
  }

  .menu-list > li {
    margin: 20px;
  }

  .menu-list > li > a {
    padding: 10px 20px;
  }

  .main {
    
    padding-top: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .cv {
    margin: 0 auto;
    margin-left: 125px;
    margin-top: 20px;

    
  }
}
